<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Movie Recommendation System</h1>
        </div>
        <div class="content">
            <form method="POST">
                <label for="plot">Enter a plot of a type of movie you would like to see:</label>
                <textarea id="plot" name="plot" rows="5" cols="50"></textarea>
                <button type="submit">Recommend Movies</button>
            </form>
            <div class="recommended">
                {% if recommended_movies %}
                    <h2>Recommended Movies:</h2>
                    <ul>
                        {% for movie in recommended_movies %}
                            <li>{{ movie }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
